body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  color: #060606;
  background-color: #e9f0f0;
}

header {
  background-color: #223040;
  margin: 0%;
}

header img {
  width: 10%;
}

nav {
  background-color: #354757;
  margin: 0%;
}

nav ul a {
  list-style-type: none;
  display: inline;
  margin: 0%;
  text-decoration: none;
  padding: 0%;
}

nav li {
  display: inline;
  padding: 10px;
  color: #a2b3bb;
  text-decoration: none;
  margin: 0%;
}

nav a {
  color: #a2b3bb;
  text-decoration: none;
  margin: 0%;
}

ul {
  padding: 0%;
  margin: 0%;
}

main {
  background-color: #e9f0f0;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  background-color: #f46501;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: px;
}

#greenimg {
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;

  background-image: url("./assets/images/bg-image.png");
  background-size: cover;
}

#greenimg img {
  background-repeat: repeat-x;
}

#quattroimg {
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  font-size: 0; /* elimina lo spazio tra i div inline-block */
}

#quattroimg span {
  color: #4c8286;
  display: inline;
  font-size: 15px;
  padding-left: 15px;
}

#quattroimg h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
  margin: 20px;
}

#quattroimg div {
  display: inline-block;
  width: 23%; /* meno larghi */
  height: 450px; /* più lunghi */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
}

#quattroimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
  background-color: #ffffff;
}

#vr {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#vr img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#vr span {
  color: #4c8286;
  display: inline;
  font-size: 15px;
  padding-left: 15px;
}

#vr h2 {
  margin-bottom: 10px;
  text-align: center;
  margin: 20px;
}

#cuffie span {
  color: #4c8286;
  display: inline;
  font-size: 15px;
  padding-left: 15px;
}

#cuffie h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  margin: 20px;
}

#cuffie img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#prefooter {
  background-color: #364759;
}

#prefooter a,
p {
  color: #e9f0f0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}

footer {
  background-color: #223040;
  width: 100%;
  height: 195px;
  text-align: center;
}

footer img {
  display: inline-block;
  background-color: #223040;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: px;
  align-content: center;
}
